/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color:#B30049;
  --first-color-light: #EDC8FE;
  --white-color: #F7F6FB;
  --black-color:#0c0b0b;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --title-font: 'Orbitron', sans-serif;
  --normal-font-size: 1rem;
  --title-font-size: 2rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*{
  margin:0;
  padding: 0;
}

*,::before,::after{
  box-sizing: border-box;
}

body{
  width:100%;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: #070D0D;
  color:var(--white-color);
}

a{
  text-decoration: none;
}

html{
  scroll-behavior:smooth;
}
.scroll-to-btn{
  position:fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
    
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color:var(--black-color);
  font-size:2.5rem;
  font-weight:bold;
  cursor:pointer;
  outline:0;
  border:0;
  transition:all 0.5s ease-out;
}
.scroll-to-btn:hover{
  background-color: var(--black-color);
  color:var(--first-color);
}

.hidden{
  visibility: hidden;
  opacity:0;
}

.title{
  font-size:var(--title-font-size);
  font-family:var(--title-font);
  letter-spacing: .2rem;
  text-align: center;
  font-weight: 800;
  text-transform:uppercase;
}

.title::first-letter{
  font-weight: 900;
  color:var(--first-color);
  font-size:3.5rem;
}

/*===== HEADER =====*/
#particles-js{
    height:100vh;
    width:100%;
    position:fixed; 
    z-index:-10;
    background-color:#070D0D;
}

.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: .5s;

  padding-right:20px;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition:all 0.5s ease-out;
}

.header__img img{
  width: 45px;
}

/*===== NAV =====*/
.navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width); 
  height: 100%;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0; 
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; 
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/***************************************************WELCOME *******************************************************************************/
#start{
  width: 100%;
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.start__img{
  width: 16%;
  min-width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.start__img img{
  width:100%;
  height:100%;
}

.start__title{
  width: 100%;
  text-transform: uppercase;
  padding-top:25px;
  letter-spacing: 5px;
  color: var(--first-color-light);
  align-self:flex-start;
}

.start__title h1{
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 25px;
}

.start__social-media{
  font-size:1.6em;
  padding: 50px 0 5px 0;
}

.start__social-media a{
  text-decoration: none;
  color:var(--first-color-light);
  transition: .7s ease;
}

.start__social-media a:hover{
  color:var(--first-color);
}

.start__social-media a i{
  padding:0 30px;
}

 .btn-link {
  width:25%;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin: 25px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: var(--first-color-light);;
  border: 1px solid #555555;
  animation: parpadeo 2s linear infinite;
  transition: .7s ease;
}

.btn-link:hover {
    border: 1px solid var(--first-color);
    color:var(--first-color);
    animation: none;
}

@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}
/***************************************************ABOUT *******************************************************************************/

#about{
  width:100%;
  min-height:100vh;
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  width: 250px;
  height: 360px; 
  border: 7px solid var(--first-color);
  position: relative;
}

.about-img img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.about__left .about-img::after {
	content: '';
	position: absolute;
	left: -43px;
	top: -30px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--first-color);
	z-index: -1;
}


.about__right{
  width: 50%;
  padding: 0 30px;
}

.about__right p:first-child{
  font-family: var(--title-font);
  text-transform:uppercase;
  font-size: 1.8rem;
	font-weight: 900;
	letter-spacing: .2rem;
  margin-bottom: 10px;
}

.about__right__title span{
  color:var(--first-color);
}

.about__right p {
	margin-bottom: 20px;
}

.about__btn{
  display: inline-block;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    padding: 10px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--first-color);
    border-image: initial;
    transition: .7s ease;
}

.about__btn:hover{
  background-color: var(--first-color);
}

/***************************************************SKILLS************************************************************************/
#skills{
  color:var(--white-color);
  padding: 0 0 150px 0px;
}

.skills__title{
  padding:40px;
}

.skills__title .title, .skills__title p:last-child {
  margin-bottom:30px;
  text-align: center;
}


.skills_content{
  width: 70%;
  margin: 0 auto;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.skills__data{
  width:200px;
  height:200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  font-weight: var(--font-semi);
  padding: 3rem 0rem;
  margin: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(248, 208, 252, 0.15);
}
.skills__icon{
  padding-bottom:.5rem;
  font-size: 6rem;
  color: var(--first-color-light);
  transition:all 0.7s ease-out;
}
.skills__names{
  font-family:var(--title-font);
  font-weight:700;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
  text-align:center;
}

.skills__bar{
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color-light);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-b);
}

.skills__data i:hover{
  color:var(--first-color);
}

/***************************************************PROJECTS *******************************************************************************/
#projects{
  width:100%;
  padding: 0 100px; 
}
.projects__title{
  color:var(--white-color);
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
}

.projects__title p:last-child{
  font-size:var(--normal-font-size);
  padding-top:35px;
}

.projects__content{
  /* width: 1000px; */
  width: 100%;
  margin: 70px auto;
  /* margin-left:50px; */
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content:space-around;
}

.projects__box{
  position:relative;
  width:460px;
  height:300px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  margin:20px;
  cursor:pointer;
}

.projects__box_img{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

 .projects__box_img img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  transition: 0.5s;
}

.projects__box:hover .projects__box_img img{
  opacity:0;
}

.projects__box_content{
  position:absolute;
  bottom:20px;
  left:10%;
  width:80%;
  height:60px;
  background:var(--black-color);
  color:var(--white-color);
  transition:0.5s;
  overflow:hidden;

  padding:15px;
  box-sizing: border-box;
}

.projects__box:hover .projects__box_content{
  background:var(--first-color);
  height:100%;
  width:100%;
  bottom:0;
  left:0;
}

 .projects__box_content p:first-child{
  margin:0;
  padding:0;
  font-size:1rem;

  text-transform: uppercase;
  font-weight:900; 
  letter-spacing: 0.1rem;
}

 .projects__box_content p:last-of-type{
  margin:10px 0 0;
  padding:25px;
  line-height:1.2em;
  transition:0.5s;
  text-align:center;
  font-size:18px;
}

.projects__box:hover .projects__box_content p:last-child{
  opacity:1;
  transition-delay:0.5s;
}

.projects__box_content_links{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top:25px;
}

.projects__box_content_links a{
  color:var(--white-color);
  padding:3px;
  text-transform:uppercase;
}

.projects__box_content_links a i{
  padding:5px;
}

/***************************************************CONTACT****************************************************************************/
#contact{
  width:100%;
}
.contact__title{
  color:var(--white-color);
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
}

.contact__title p:last-child{
  font-size:var(--normal-font-size);
  padding-top:20px;
}

.contact__form{
  width: 100%;
  padding:50px 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

#form{
  width:70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input{
  background: transparent;
  border: 0;
  color: var(--white-color);
  outline: none;
  border: 2px  solid var(--first-color);
  padding: 20px 10px;
}

.input::placeholder{
  color:var(--white-color);
  font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea{
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"]{
  color: var(--white-color);
  text-transform:uppercase;
  width: 120px;
  text-align: center;
  padding: 14px 0;
  transition:all 0.7s ease-out;
}

input[type="submit"]:hover{
  cursor: pointer;
  color: var(--white-color);
  background: var(--first-color);
  border-color: var(--first-color);
}

/* FOOTER */

footer{
  margin:0;
  padding: 25px 25px 50px 25px;
  width:100%;
  background-color:var(--black-color);
  color:var(--white-color);
  font-size: 1.125rem;

  display:flex;
  flex-direction: column;
  
}
.footer-info{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:baseline;
  flex-wrap:wrap;
}

.footer-info__contact p, .footer-info__links p{
  line-height:4;
  font-weight: 900;
  text-transform: uppercase;
  font-family:var(--title-font);
}

.footer-info__contact ul, .footer-info__links ul , .footer-info__menu ul{
  list-style: none;
}

.footer-info__contact li,.footer-info__links li, .footer-info__menu li{
  line-height: 3;
}

.footer-info__links ul li a{
  text-decoration: none;
  color:var(--white-color);
}

.footer-info__links ul li .icon, .footer-info__contact ul li .icon{ 
  padding-right: 8px;
  font-size: 1.8rem;
  color:var(--first-color);
}

.footer-signature{
  padding:50px 0 20px 0;
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
  font-weight: 900;
}



/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    /* padding-left: calc(var(--nav-width) + 2rem); */
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }
}


@media screen and (max-width: 950px){

  /* start */
  .start__title p {
    font-size: 15px; 
    display: block;
    font-weight: 300;
  }
  
  .start__title h1 {
    font-weight: 900;
    font-size: 20px;
  }

  .btn-link {
    width:70%;
  }

  .skills_content{
    width: 100%;
  }

  .skills__container{
    margin-top:35px;
  }
  .skills__container:first-child{
    width: 75%;
  }

  /* about */
  #about{
    flex-direction:column;
  }

  .about__right{
    width: 100%;
    padding:30px;
  }

  .about__left{
    width: 100%;
    display:flex;
    justify-content:center;
  }

  /* footer */
  .footer-info{
    flex-direction: column;
    justify-content:center;
    align-content:center;
    text-align:center;
    margin: 10px auto;
  }
  .footer-info__contact{
    padding-bottom:35px;
  }
  .footer-info ul{
    text-align:left;
  }
}
@media screen and (max-width: 543px){
  .footer-signature{
    flex-direction:column;
  }
}


